<html>
<head>
Teoria de los juegos evolutivos

<STYLE type="text/css">
P.justificar {text-align: justify}
</STYLE>

</head>

<body>

<h3>Teoria de juegos evolutivos: individuos grandes y chicos que comparten o pelean por recursos escasos</h3>


<P class="justificar">
En una poblaci&oacute;n asim&eacute;trica del tipo que estamos considerando pueden existir cuatro estrategias. Las dos estrategias que ten&iacute;amos en la poblaci&oacute;n sim&eacute;trica, Siempre pelear, siempre  compartir, y dos estrategias condicionales, una de sentido com&uacute;n, pelear si mi oponente es de menor tama&ntilde;o y compartir y caso contrario, y una estrategia condicional parad&oacute;jica, pelear si mi oponente es m&aacute;s grande y compartir en caso contrario.
</P>


<P class="justificar">
Que pasa en una poblaci&oacute;n donde todos los individuos pelean si su oponente es m&aacute;s grande y comparten en caso contrario? Puede ser invadido por las estrategias alternativas, siempre pelear, siempre compartir, o pelear solo si mi oponente es menor? Si el costo de lesi&oacute;n es superior al valor del recurso y todos siguen la estrategia parad&oacute;jica, un individuo que siga la estrategia de sentido com&uacute;n, &ldquo;pelear solo si el oponente es menor y compartir en caso contrario&rdquo; no podr&aacute; invadir, est&aacute; en peor situaci&oacute;n que alguien que siga una estrategia parad&oacute;jica, se pelear&iacute;a con todos, y con un costo de lesi&oacute;n de m&aacute;s de 8 veces el valor del recurso, una probabilidad de ganar del 80% no compensa. 
</P>


<P class="justificar">
<b>
<a href="/realizaUnaSimulacionMuestraEvolucion" target="_blank">
Realiza una simulacion y mostrar su evolucion
</a>
</b>
</P>

<P class="justificar">
<b>
<a href="/realizaVariasSimulacionesCalculaEstadisticos" target="_blank">
Realiza varias simulaciones y calcula estadisticos
</a>
</b>
</P>


</body>


</html>
